* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class^='col-'] {
  flex: 0 0 auto;
}

/* Mobile First (Tots els dispositius, principalment smartphones, amb l'amplada menor de 576px)  */
.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666667%;
}
.col-12 {
  width: 100%;
}

/* Small ≥576px (Dispositius petits, poden ser smartphones grans o tauletes en portrait majors de 576px i menors de 768px) */
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.333333%;
  }
  .col-sm-2 {
    width: 16.666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.333333%;
  }
  .col-sm-5 {
    width: 41.666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.333333%;
  }
  .col-sm-8 {
    width: 66.666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.333333%;
  }
  .col-sm-11 {
    width: 91.666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* Medium ≥768px (Dispositius mitjans, poden ser tablets en landscape o netbooks majors de 768px i menors de 992px) */
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Large ≥992px (Dispositius grans, ordinadors portàtils o de sobretaula amb pantalles més grans de 992px i menors a 1200px) */
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Extra Large ≥1200px (Dispositius molt grans, ordinadors portàtils i de sobretaula amb pantalles més grans de 1200) */
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

body {
  background-color: #f7fafc;
  color: #1a202c;
}

section {
  text-align: center;
  justify-content: center;
}
header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(8px);
}
header h1 {
  background-color: transparent;
  color: #1abc9c;
}
header nav {
  background-color: transparent;
}
header nav ul {
  background-color: transparent;
  min-height: 30px;
  list-style: none;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}
header nav ul li {
  color: black;
  background-color: transparent;
}
footer {
  border: 1px solid black;
}
footer h3 {
  color: black;
  font-weight: bold;
}
footer p {
  color: #1a202c;
}
.hero {
  height: 100vh;
  background-image: url('../img/hero.webp');
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.hero div {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.7);
}
.hero button {
  background-color: rgba(52, 152, 219, 0.7);
  backdrop-filter: blur(4px);
  color: black;
}
.serveis > p {
  font-size: 1.5rem;
  color: #4a5568;
  padding: 0.5rem;
}
.serveis p {
  color: #4a5568;
  padding: 0.5rem;
}
body {
  padding: 1rem;
}
section {
  text-align: center;
  justify-content: center;
}
.serveis h2 {
  color: #1abc9c;
  margin-top: 2rem;
  font-size: 3rem;
}
div {
  padding: 1rem;
}
.apartat {
  line-height: 1.9;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
div img {
  border-radius: 1rem;
  width: 50%;
}
section button {
  color: #1abc9c;
  border: none;
  padding: 0.5rem;
}
.equip > p {
  color: #1a202c;
}
.cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  min-height: 8rem;
  margin: 0 auto;
  font-size: 3rem;
  border-radius: 100%;
  color: white;
}
.pm {
  background-color: #1abc9c;
  border: 1px solid #177461;
}
.dev {
  background-color: #3498db;
  border: 1px solid #26648d;
}
.dsg {
  background-color: #e74c3c;
  border: 1px solid #7a2b23;
}
.mkt {
  background-color: #4a5568;
  border: 1px solid #1e2127;
}
.subtitol {
  color: #1abc9c;
}
.equip h2 {
  color: black;
  margin-top: 2rem;
  font-size: 3rem;
  padding-bottom: 0.5rem;
}
.equip .sub {
  color: #4a5568;
  font-size: 1.5rem;
}
.equip .desc {
  color: #4a5568;
}
